@font-face {
    font-family: font1;
    src: url(/Fonts/font1/Game\ Of\ Squids.ttf);
  }

/*Variables*/
:root{
}

/*Universal Properties*/
*{
    margin: 0px;
    padding: 0px;
    font-family: font1;
}

/*Hiding the scrollbar*/
body::-webkit-scrollbar{
    display: none;
}
body {
    background-color: rgb(26, 25, 25);
}
h1 {
    position: relative;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    z-index: 2;
}
h3 {
    max-width: 1500px;
    margin-left: auto;
    margin-right: auto;
}
button {
    position: relative;
    height: 55px;
    width: 200px;
    color: #3b3434;
    font-size: 20px;
    background-color: white;
    border-radius: 30px;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    z-index: 2;
}
button:hover {
    background-color: lightgray;
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}

@keyframes fall {
    0% {
        transform: translateY(-100%);
        opacity: 100%;
    }
    100% {
        transform: translateY(100vh);
        opacity: 0%;
    }
}

#fallingButton {
    position: fixed;
    top: -3%;
    animation: fall 4.5s ease-in-out;
}

/*NEW CODE*/
.nav h1{
    font-family: font1;
    font-size: 60px;
    background-color: white;
    color: black;
    border-radius: 0px 0px 30px 30px;
    width: 50%;
    margin: auto;
}
.gamebtns
{
    display:grid;
    grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
    width: 70%;
    margin: auto;
}
.gamebtn{
    width: 180px;
    height: 180px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}
.gamebtn img{
    width: 80px;
    margin: auto;
}