body {
    background-color: rgb(26, 25, 25);
}
h1{
    color: white;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 3em;
}
h2{
    color: white;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 2em;
    max-width: 800px;
    margin: 0 auto;
}
h3{
    color: white;
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 1.5em;
    max-width: 800px;
    margin: 0 auto;
}

#byebye {
    height: 55px;
    width: 200px;
    color: #3b3434;
    font-size: 20px;
    background-color: white;
    border-radius: 50px;
    border: none;
    display: block;
    margin: 0 auto;
    margin-top: 25px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    cursor: pointer;
    position: fixed;
    bottom: 0;
    width: 10%;
}
#byebye:hover {
    background-color: lightgray;
    transform: scale(1.1);
    box-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}
a {
    color: rgb(255, 255, 255);
    font-family: 'Rubik', sans-serif;
    text-align: center;
    font-size: 2em;
    transition: transform 0.2s ease, text-shadow 0.2s ease;
}
a:hover {
    transform: scale(1.1);
    text-shadow: 0px 0px 20px rgba(255, 255, 255, 0.5);
}
.image {
    display: flex;
    justify-content: center;
    align-items: center;
}